.font-p{
  font-size: 14px;
}


.font-h1{
  font-size: 1.5rem;
}

.font-h2{
  font-size: 0.8rem;
}


.w300{
  font-weight: 300;
}

.w400{
  font-weight: 400;
}

.w600{
  font-weight: 600;
}

.w700{
  font-weight: 700;
}